form {
  display: inline-block;
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="text"] {
  margin-bottom: 10px;
}

input[type="button"] {
  margin-top: 10px;
}

#scores {
  margin-top: 20px;
}